<div id="pic" class="transitions-enabled">
	<% @pics.each do |pic| %>
		<div class="box panel panel-default">
			<%= image_tag pic.image.url(:medium)  %>
			<div class="panel-body">
				<%= pic.tag %>
				<%= link_to 'Show', pic %>
				
				<% if pic.user == current_user %>
					<%= link_to 'Edit', edit_pic_path(pic) %>
					<%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</div>
		</div>
	<% end %>

</div>